# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.venv/
.env

# -----------------------------
# Flask
# -----------------------------
instance/

# -----------------------------
# IDEs
# -----------------------------
.vscode/
.idea/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Excel temporary files
# -----------------------------
~$*.xlsx

# -----------------------------
# Testing
# -----------------------------
.pytest_cache/
.coverage
htmlcov/

# -----------------------------
# Build
# -----------------------------
build/
dist/

# -----------------------------
# OS
# -----------------------------
Thumbs.db
