{% extends "layouts/base.html" %}

{% block content %}

<h2>Solutions Dashboard</h2>

<div class="row">

    <div class="kpi-title">

<i class="bi bi-tools me-2"></i>

Technical Assistance

</div>

    <div class="kpi-title">

<i class="bi bi-clipboard-data me-2"></i>

Assessments

</div>

<div class="kpi-title">

<i class="bi bi-cash-stack me-2"></i>

Quotes

</div>

<div class="kpi-title">

<i class="bi bi-building me-2"></i>

Tenders

</div>

</div>

<hr>

<h2>Total Requests</h2>

<h1>{{ summary.total_requests }}</h1>

{% endblock %}
